<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                About Wakeboard UK
            </h1>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <a href="http://res.cloudinary.com/nevillnet/image/upload/c_scale,h_600,w_900/v1452287279/wuk/Voila_Capture_2016-01-08_08-45-42_p.png" class="fancybox hover-box" title="Insert Your Titles">
                    <img src="http://res.cloudinary.com/nevillnet/image/upload/c_scale,h_600,w_900/v1452287279/wuk/Voila_Capture_2016-01-08_08-45-42_p.png" alt="alt" />
                </a>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <h3 class="title is-4">Who are Wakeboard UK</h3>
                <p>
                    Wakeboard UK are the official committee for boat wakeboarding in the UK, and are part
                    of <a href="http://www.britishwaterski.org.uk">BWSW</a>.
                    We work in association with the <a href="http://www.britishwaterski.org.uk">BWSW</a>
                    and <a href="https://www.sportengland.org/">Sport England</a> to promote wakeboarding and push the
                    sport forward.
                </p>
                <hr />
                <h3 class="title is-4">What We Do</h3>
                <p>Provide the UK National Competitions to crown UK National Champions in various sectors.</p>
                <p>Select and manage the UK Team for European and World Championships</p>
                <p>Undertake grassroots wakeboard instruction and clinics.</p>
                <p>Set coaching and training syllabuses.</p>
                <p>Provide training for athletes and coaches.</p>
            </div>
            <div class="column">
                <h3 class="title is-4">Why We Do It</h3>
                <p>
                    We wish to give wakeboarders the framework to safely pursue their competitive objectives
                    including international competitions if suitable.
                </p>
                <p>All members of the board do this on a voluntary basis out of love for the sport.</p>
                <p>Wakeboard UK is non-profit, and not a commercial entity.</p>
                <hr />
                <h3 class="title is-4">How We Fund Our Work</h3>

                <p>Wakeboard UK is run by volunteers and funded by the following means:</p>
                <p>Membership Fees via British Waterski and Wakeboard.</p>
                <p>Grant from Sport England via British Waterski and Wakeboard.</p>
                <p>Competition Sponsors.</p>
                <p>
                    If you are interested in volunteering for Wakeboard UK please <a href="/contact">contact</a> us
                    for details on where you might be able to help.
                </p>
            </div>
        </div>
    </div>
</section>