<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                Website content copyright &copy; 2007-2017 <a href="http://www.wakeboard.co.uk">Wakeboard UK</a>.
            </p>
            <p>
                Photos Copyright &copy; 2007-2017 <a href="http://www.chriswestphotography.net">Chris West Photography</a> unless stated.
            </p>
            <p>
                Website developed by <a href="http://www.nevill.net">Jeremy Nevill</a> from <a href="http://www.lisys.com">Lisys</a>.
            </p>
            <p>
                Source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
            </p>
            <p>
                <a class="icon" href="https://github.com/JeremyNevill/WakeboardUK">
                    <i class="fa fa-github"></i>
                </a>
            </p>
            <p>
                @await Html.PartialAsync("_LoginPartial")
            </p>
        </div>
    </div>
</footer>