@model IEnumerable<WakeboardUK.Web.Models.Download>

@{
    ViewData["Title"] = "Downloads";
}
<!-- Start Main Content -->
<main class="main-content">
    <div class="container body-content">
        <div class="row">
            <div class="col-sm-9 main-column fixtures-page">

                <div class="page-header">
                    <h2>Downloads</h2>
                    <p class="lead">
                        Official Wakeboard UK Downloads including rules, results and selection policies etc.
                    </p>
                </div>
                <!-- Downloads -->
                <table class="table-striped table-responsive table-hover table-leaderboard table-tops">
                    <thead>
                        <tr>
                            <th>Download</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <a href="@Html.DisplayFor(modelItem => item.Url)">@Html.DisplayFor(modelItem => item.Name)</a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>

            </div><!--/.main-column -->
            <aside class="sidebar col-sm-3 sticky"></aside>
        </div><!-- /.container -->
</main><!-- /.main-content -->
