@model IEnumerable<WakeboardUK.Web.Models.Download>
@{
    ViewData["Title"] = "Downloads";
}
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Downloads
            </h1><p class="lead">
                Official Wakeboard UK Downloads including rules, results and selection policies etc.
            </p>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <h2>Downloads</h2>
        @foreach (var item in Model)
        {
            <p>
                <a href="@Html.DisplayFor(modelItem => item.Url)">@Html.DisplayFor(modelItem => item.Name)</a>
            </p>
        }
    </div>
</section>