@{
    ViewData["Title"] = "Membership";
}
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Wakeboard UK Membership
            </h1>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <a href="http://res.cloudinary.com/nevillnet/image/upload/q_auto:good/v1452287272/wuk/Voila_Capture_2016-01-08_08-47-29_p.png" class="fancybox hover-box" data-fancybox-group="gallery1" title="Insert Your Titles">
                    <img src="http://res.cloudinary.com/nevillnet/image/upload/c_scale,h_614,q_auto:good,w_900/v1452287272/wuk/Voila_Capture_2016-01-08_08-47-29_p.png" alt="alt" />
                </a>
            </div>
            <div class="column">
                <h3 class="title is-4">Join Direct</h3>
                <p>
                    If you are not a member of a club you may join direct.
                    Either call the membership department on 01932 579935 or <a href="http://www.bwsw.org.uk/membership/">join online</a>.
                </p>
                <p>&nbsp;</p>
                <p class="">
                    <a id="find-club" class="button is-primary" href="http://www.bwsw.org.uk/membership/">
                        Join BWSW Online
                    </a>
                </p>
                <hr />
                <h3 class="title is-4">Join at a Club</h3>
                <p>
                    If you join a <a href="http://www.bwsw.org.uk/clubs/">British Water Ski &amp; Wakeboard affiliated club</a>,
                    your club will automatically register you with us as a member.
                </p><p>&nbsp;</p>
                <p class="">
                    <a id="find-club" class="button is-primary" href="http://www.bwsw.org.uk/clubs/">
                        Find a Club
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>