<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Contact Us
            </h1>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h3 class="title is-4">Wakeboarding</h3>
                <p>
                    To contact Wakeboard UK regarding boat wakeboarding in the UK, sponsorship, competitions, team,
                    coaching and all non web issues please email
                    <a href="mailto:contact@wakeboard.co.uk">contact@wakeboard.co.uk</a>
                </p>
                <hr />
                <h3 class="title is-4">Website</h3>
                <p>
                    To contact us regarding the website or our online accounts (Twitter, Facebook, etc) please email
                    <a href="mailto:support@wakeboard.co.uk">support@wakeboard.co.uk</a>
                </p>
            </div>
            <div class="column">
                <a href="http://res.cloudinary.com/nevillnet/image/upload/c_scale,h_587,w_900/v1452287274/wuk/Voila_Capture_2016-01-08_08-43-50_p.png" title="Dan Nott Makes Contact">
                    <img src="http://res.cloudinary.com/nevillnet/image/upload/c_scale,h_587,w_900/v1452287274/wuk/Voila_Capture_2016-01-08_08-43-50_p.png" alt="Dan Nott Makes Contact" />
                </a>
            </div>
        </div>
    </div>
</section>