@{
    ViewData["Title"] = "Contact Us";
}
<!-- Start Main Content -->
<main class="main-content">
    <div class="container body-content">
        <div class="row">
            <div class="col-sm-9 main-column">
                <!-- Start Meta -->
                <div class="post-title">
                    <h1>Contact Us</h1>
                </div>

                <!-- Start Feature Image -->
                <div class="hover-box-container hb-effect-fade">
                    <a href="http://res.cloudinary.com/nevillnet/image/upload/c_scale,h_587,w_900/v1452287274/wuk/Voila_Capture_2016-01-08_08-43-50_p.png" class="fancybox hover-box" data-fancybox-group="gallery1" title="Insert Your Titles">
                        <img src="http://res.cloudinary.com/nevillnet/image/upload/c_scale,h_587,w_900/v1452287274/wuk/Voila_Capture_2016-01-08_08-43-50_p.png" alt="alt" />
                        <div class="hover-box-content-container">
                            <div class="hover-box-content">
                                <em class="fa fa-search"></em>
                            </div>
                        </div>
                    </a>
                    <div class="caption-text">Wakeboard UK</div>
                </div>
                <br />

                <!-- Start Content -->
                <p class="lead">
                    To contact Wakeboard UK regarding boat wakeboarding in the UK, sponsorship, competitions, team,
                    coaching and all non web issues please email
                    <a href="mailto:contact@wakeboard.co.uk">contact@wakeboard.co.uk</a>
                </p>
                <p>
                    To contact us regarding the website or our online accounts (Twitter, Facebook, etc) please email
                    <a href="mailto:support@wakeboard.co.uk">support@wakeboard.co.uk</a>
                </p>
            </div>
        </div>
    </div>
