@using Microsoft.EntityFrameworkCore.Metadata.Internal
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Wakeboard UK
            </h1>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <img src="http://res.cloudinary.com/nevillnet/image/upload/v1496529471/wuk/HomepageNationals2017.png" alt="slide" data-bgposition="center center" data-kenburns="on" data-duration="9000" data-ease="Power2.easeInOut" data-scalestart="110" data-scaleend="133" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="2" class="rev-slidebg" data-no-retina>
                <h1>
                    <a href="/Competitions/Details/172" class="btn btn-success">
                        1st July 2017 - Malibu Boats Wakeboard National Championships 2017
                    </a>
                </h1>
                <p>
                    The IWWF ranking event that crowns the <br />
                    2017 National Boat Wakeboard Champions.
                </p>
                <a href="/Competitions/Details/172" class="btn btn-success">View Competition Details</a>
            </div>
            <div class="column">
                <img src="http://res.cloudinary.com/nevillnet/image/upload/c_crop,g_north,h_500,q_auto:good,w_1200/v1487510052/wuk/2016Nationals001.png" alt="slide2" data-bgposition="center center" data-kenburns="on" data-duration="9000" data-ease="Power2.easeInOut" data-scalestart="110" data-scaleend="133" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="2" class="rev-slidebg" data-no-retina>
                <h1>
                    Join Wakeboard UK<br /><small class="feat-color">2017 Membership</small>
                </h1>
                <p>
                    Wakeboard UK is part of BWSW,</br>
                    membership of BWSW is provided directly</br>
                    or via your local wakeboard club.
                </p>
                <div>
                    <a href="/Membership" class="btn btn-success">Join</a>
                </div>
                <div>
                    <a href="/About" class="btn btn-warning">About</a>
                </div>
            </div>
        </div>
    </div>
</section>


